#s-11dc329a-4a01-417f-ae92-f0530110c36c > #backgroundBox {
position: absolute;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c > #alignmentBox {
position: relative;
max-width: 414.0px;
max-height: 736.0px;
width: 100%;
height: 100%;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Dynamic_Panel_1 {
position: absolute;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_1 {
width: 413.99999999999955px;
height: 789.6005546489444px;
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_1 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_1 td.layout {
padding: 0px 0px 0px 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_1 > .borderLayer > .layoutWrapper {
overflow-x: hidden;
overflow-y: hidden;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_1 .verticalalign {
vertical-align: top;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Dynamic_Panel {
position: absolute;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_2 {
width: 387.4999999999999px;
height: 241.70139968895774px;
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_2 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_2 td.layout {
padding: 0px 0px 0px 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_2 > .borderLayer > .layoutWrapper {
overflow-x: scroll;
overflow-y: hidden;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_2 .verticalalign {
vertical-align: top;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_15 {
position: absolute;
width: 367.00000000000034px;
height: 236.4194063904539px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_15 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_1 {
position: absolute;
width: 362.4999999999999px;
height: 236.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_1 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_2 {
position: absolute;
width: 397.9999999999999px;
height: 232.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_2 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph .valign {
vertical-align: top;
text-align: left;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 16.5pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph span#rtr-s-Paragraph_0 {
color: #333333;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 16.5pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_16 {
position: absolute;
width: 17.86676719150637px;
height: 17.866767191506256px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_16 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_17 {
position: absolute;
width: 17.866767191506256px;
height: 17.866767191506256px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_17 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_18 {
position: absolute;
width: 17.866767191506028px;
height: 17.866767191506256px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_18 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_19 {
position: absolute;
width: 17.866767191506256px;
height: 17.866767191506256px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_19 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_20 {
position: absolute;
width: 17.866767191506256px;
height: 17.8667671915062px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_20 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_10 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_10 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_10 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_10 .valign {
vertical-align: middle;
text-align: left;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_10 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 12.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
color: #000000;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 12.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle {
position: absolute;
width: 387.49999999999966px;
min-height: 295.6329227978856px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle > .backgroundLayer {
border-top-left-radius: 22px;
border-top-right-radius: 22px;
border-bottom-right-radius: 22px;
border-bottom-left-radius: 22px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle > .backgroundLayer > .colorLayer {
background-color: #D9D9D9;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle > .borderLayer {
border-top-left-radius: 22px;
border-top-right-radius: 22px;
border-bottom-right-radius: 22px;
border-bottom-left-radius: 22px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle > .backgroundLayer {
border-top-left-radius: 22px;
border-top-right-radius: 22px;
border-bottom-right-radius: 22px;
border-bottom-left-radius: 22px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle .valign {
vertical-align: middle;
text-align: center;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle span#rtr-s-Rectangle_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area textarea::-webkit-input-placeholder {
color: #A1A1A1;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area textarea::-moz-placeholder {
color: #A1A1A1;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area textarea:-moz-placeholder {
color: #A1A1A1;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area textarea:-ms-input-placeholder {
color: #A1A1A1;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area {
position: absolute;
width: 93.59903381642488%;
height: 131.50834126482948px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area textarea {
color: #727272;
text-align: left;
text-decoration: none;
font-family: 'Roboto-Light',Arial;
font-size: 11.0pt;
text-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Text-area .paddingLayer:first-child {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 0px;
padding-left: 15px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_3 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_3 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_3 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_3 .valign {
vertical-align: top;
text-align: left;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_3 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
color: #333333;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_4 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_4 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_4 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_4 .valign {
vertical-align: top;
text-align: left;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_4 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
color: #333333;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
color: #333333;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_7 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_7 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_7 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_7 .valign {
vertical-align: top;
text-align: left;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_7 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
color: #333333;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_7 span#rtr-s-Paragraph_7_1 {
color: #333333;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 {
position: absolute;
width: 87.00000000000011px;
min-height: 29.45101088646959px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 > .backgroundLayer {
border-top-left-radius: 14px;
border-top-right-radius: 14px;
border-bottom-right-radius: 14px;
border-bottom-left-radius: 14px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
background-color: #DEDDDD;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 > .borderLayer {
border-top-left-radius: 14px;
border-top-right-radius: 14px;
border-bottom-right-radius: 14px;
border-bottom-left-radius: 14px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 > .backgroundLayer {
border-top-left-radius: 14px;
border-top-right-radius: 14px;
border-bottom-right-radius: 14px;
border-bottom-left-radius: 14px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #333333;
text-decoration: none;
font-family: 'Roboto-Bold',Arial;
font-size: 10.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_12 {
position: absolute;
width: 19.0px;
height: 19.295489891135162px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_12 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_5 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_5 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_5 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_5 .valign {
vertical-align: top;
text-align: left;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_5 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue {
position: absolute;
width: 127.99999999999997px;
min-height: 34.999999999999886px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue > .backgroundLayer {
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 16px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue > .borderLayer {
border-top-width: 1.0px;
border-top-style: solid;
border-top-color: #157EFB;
border-right-width: 1.0px;
border-right-style: solid;
border-right-color: #157EFB;
border-bottom-width: 1.0px;
border-bottom-style: solid;
border-bottom-color: #157EFB;
border-left-width: 1.0px;
border-left-style: solid;
border-left-color: #157EFB;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 16px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue > .backgroundLayer {
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 16px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue .paddingLayer:first-child {
padding-top: 3px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue .valign {
vertical-align: middle;
text-align: center;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 11.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Button-blue span#rtr-s-Button-blue_0 {
color: #000000;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 11.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Dynamic_Panel_2 {
position: absolute;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_3 {
width: 413.99999999999955px;
height: 92.00000000000004px;
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_3 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_3 td.layout {
padding: 0px 0px 0px 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_3 > .borderLayer > .layoutWrapper {
overflow-x: hidden;
overflow-y: hidden;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Panel_3 .verticalalign {
vertical-align: top;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_11 {
position: absolute;
width: 100.0%;
min-height: 89.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_11 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_11 > .backgroundLayer > .colorLayer {
background-color: #F6F7F8;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_11 > .borderLayer {
border-bottom-width: 1.0px;
border-bottom-style: solid;
border-bottom-color: #DBDBDB;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_11 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_11 .valign {
vertical-align: middle;
text-align: center;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_11 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
line-height: 18px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
color: #404040;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
line-height: 18px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_16 {
position: absolute;
width: 180.99999999999983px;
min-height: 44.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_16 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_16 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_16 .valign {
vertical-align: top;
text-align: center;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_16 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 13.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
color: #000000;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 13.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_27 {
position: absolute;
width: 13.0px;
height: 21.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Image_27 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_17 {
position: absolute;
width: 40.999999999999986px;
min-height: 21.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_17 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_17 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_17 .valign {
vertical-align: top;
text-align: right;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_17 span {
color: #007AFF;
text-align: right;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 12.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
color: #007AFF;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 12.0pt;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 input::-webkit-input-placeholder {
color: #B4B4B4;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 input::-moz-placeholder {
color: #B4B4B4;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 input:-moz-placeholder {
color: #B4B4B4;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 input:-ms-input-placeholder {
color: #B4B4B4;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 {
position: absolute;
width: 205.0px;
height: 28.999999999999773px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 .valign {
vertical-align: middle;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
line-height: 17px;
text-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 > .backgroundLayer {
border-top-left-radius: 13px;
border-top-right-radius: 13px;
border-bottom-right-radius: 13px;
border-bottom-left-radius: 13px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 > .backgroundLayer > .colorLayer {
background-color: #E2E2E2;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 > .borderLayer {
border-top-width: 1.0px;
border-top-style: solid;
border-top-color: #C8C8C8;
border-right-width: 1.0px;
border-right-style: solid;
border-right-color: #C8C8C8;
border-bottom-width: 1.0px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
border-left-width: 1.0px;
border-left-style: solid;
border-left-color: #C8C8C8;
border-top-left-radius: 13px;
border-top-right-radius: 13px;
border-bottom-right-radius: 13px;
border-bottom-left-radius: 13px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 > .backgroundLayer {
border-top-left-radius: 13px;
border-top-right-radius: 13px;
border-bottom-right-radius: 13px;
border-bottom-left-radius: 13px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Input_2 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 5px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_1 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_1 {
box-shadow: none;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

.devMobile #jim-container .ui-page {
overflow-x: hidden;
}

.non_jim_mobile #simulation {
overflow-x: hidden;
}

.web #simulation {
overflow-x: hidden;
}

#s-11dc329a-4a01-417f-ae92-f0530110c36c > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}
