#s-32cd541f-2a59-486d-995e-3a8cad2a163a > #backgroundBox {
  position: absolute;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_3 {
  width: 413.99999999999943px;
  height: 92.00000000000006px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_3 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_11 {
  position: absolute;
  width: 100.0%;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_11 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_11 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_16 {
  position: absolute;
  width: 180.99999999999983px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_16 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Image_27 {
  position: absolute;
  width: 13.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Image_27 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_17 {
  position: absolute;
  width: 40.999999999999986px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_17 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: right;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_17 span {
  color: #007AFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Dynamic_Panel {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_1 {
  width: 413.9999999999998px;
  height: 643.9999999999998px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_1 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_1 > .borderLayer {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle {
  position: absolute;
  width: 390.9999999999992px;
  min-height: 304.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle > .borderLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span#rtr-s-Paragraph_1_4 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span#rtr-s-Paragraph_1_5 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span#rtr-s-Paragraph_1_6 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_1 span#rtr-s-Paragraph_1_7 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_2 {
  width: 413.99999999999955px;
  height: 241.99999999999966px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_2 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_4 {
  width: 357.9999999999999px;
  height: 116.99999999999989px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_4 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Panel_4 .verticalalign {
  vertical-align: top;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 {
  position: absolute;
  width: 349.0000000000002px;
  min-height: 102.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_5 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_4 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_3 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 {
  position: absolute;
  width: 71.0px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_2 span#rtr-s-Button-blue_2_0 {
  color: #157EFB;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_2 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue {
  position: absolute;
  width: 73.0px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue > .backgroundLayer > .colorLayer {
  background-color: #D6D6D6;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue .valign {
  vertical-align: middle;
  text-align: center;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue span#rtr-s-Button-blue_0 {
  color: #157EFB;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 {
  position: absolute;
  width: 113.0px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button-blue_1 span#rtr-s-Button-blue_1_0 {
  color: #157EFB;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button {
  position: absolute;
  width: 47.73333366853919%;
  min-height: 56.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button {
  box-shadow: none;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button > .backgroundLayer > .colorLayer {
  background-color: #E7E7E7;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a #s-Button span#rtr-s-Button_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-32cd541f-2a59-486d-995e-3a8cad2a163a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
