#s-5ff894a4-f0c7-48bf-8456-a752928b3dab > #backgroundBox {
  position: absolute;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_1 {
  width: 413.99999999999955px;
  height: 732.9999999999995px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_1 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_5 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.5pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.5pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_15 {
  position: absolute;
  width: 260.9999999999999px;
  height: 151.58520494820746px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_15 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_16 {
  position: absolute;
  width: 17.86676719150637px;
  height: 17.866767191506256px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_16 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_17 {
  position: absolute;
  width: 17.866767191506028px;
  height: 17.866767191506256px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_17 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_18 {
  position: absolute;
  width: 17.866767191505915px;
  height: 17.866767191506256px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_18 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_19 {
  position: absolute;
  width: 17.866767191506256px;
  height: 17.866767191506256px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_19 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_20 {
  position: absolute;
  width: 17.866767191506256px;
  height: 17.866767191506256px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_20 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_10 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Dynamic_Panel {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_2 {
  width: 330.0px;
  height: 472.87582936684083px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_2 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle {
  position: absolute;
  width: 329.9999999999999px;
  min-height: 119.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle > .borderLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Ellipse {
  width: 52.50000000000004px;
  height: 47.99999999999983px;
  min-height: 47.99999999999983px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Ellipse {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse span#rtr-s-Ellipse_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_21 {
  position: absolute;
  width: 15.669316106166065px;
  height: 15.669316106166065px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_21 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_22 {
  position: absolute;
  width: 15.669316106166178px;
  height: 15.669316106166178px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_22 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_23 {
  position: absolute;
  width: 15.669316106165866px;
  height: 15.66931610616619px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_23 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_24 {
  position: absolute;
  width: 15.669316106166093px;
  height: 15.669316106166203px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_24 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_25 {
  position: absolute;
  width: 15.66931610616598px;
  height: 15.669316106166196px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_25 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_11 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_1 {
  position: absolute;
  width: 211.99999999999966px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_1 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_2 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 {
  position: absolute;
  width: 329.9999999999999px;
  min-height: 119.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Ellipse_1 {
  width: 52.50000000000004px;
  height: 47.99999999999983px;
  min-height: 47.99999999999983px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Ellipse_1 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_3 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_26 {
  position: absolute;
  width: 15.669316106166065px;
  height: 15.669316106166065px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_26 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_28 {
  position: absolute;
  width: 15.669316106166178px;
  height: 15.669316106166178px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_28 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_29 {
  position: absolute;
  width: 15.669316106165866px;
  height: 15.66931610616619px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_29 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_30 {
  position: absolute;
  width: 15.669316106166093px;
  height: 15.669316106166203px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_30 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_31 {
  position: absolute;
  width: 15.66931610616598px;
  height: 15.669316106166196px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_31 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_12 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_4 {
  position: absolute;
  width: 211.99999999999966px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_4 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_6 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 {
  position: absolute;
  width: 329.9999999999999px;
  min-height: 119.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Ellipse_2 {
  width: 52.50000000000004px;
  height: 47.99999999999983px;
  min-height: 47.99999999999983px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Ellipse_2 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_7 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_32 {
  position: absolute;
  width: 15.669316106166065px;
  height: 15.669316106166065px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_32 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_33 {
  position: absolute;
  width: 15.669316106166178px;
  height: 15.669316106166178px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_33 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_34 {
  position: absolute;
  width: 15.669316106165866px;
  height: 15.66931610616619px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_34 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_35 {
  position: absolute;
  width: 15.669316106166093px;
  height: 15.669316106166203px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_35 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_36 {
  position: absolute;
  width: 15.66931610616598px;
  height: 15.669316106166196px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_36 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_13 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_13 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_8 {
  position: absolute;
  width: 211.99999999999966px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_8 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_9 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_3 {
  width: 413.99999999999943px;
  height: 92.00000000000006px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_3 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_11 {
  position: absolute;
  width: 100.0%;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_11 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_11 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_16 {
  position: absolute;
  width: 180.99999999999983px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_16 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_27 {
  position: absolute;
  width: 13.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Image_27 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_17 {
  position: absolute;
  width: 40.999999999999986px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_17 {
  box-shadow: none;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: right;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_17 span {
  color: #007AFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-5ff894a4-f0c7-48bf-8456-a752928b3dab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
