#s-db32455c-1c43-479e-ae0b-14acf9cf0748 > #backgroundBox {
  position: absolute;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Panel_3 {
  width: 413.99999999999943px;
  height: 92.00000000000006px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Panel_3 {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_11 {
  position: absolute;
  width: 100.0%;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_11 {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_11 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_16 {
  position: absolute;
  width: 180.99999999999983px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_16 {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.0pt;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Image_27 {
  position: absolute;
  width: 13.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Image_27 {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_17 {
  position: absolute;
  width: 50.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_17 {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: right;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_17 span {
  color: #007AFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle {
  position: absolute;
  width: 377.0px;
  min-height: 358.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Image_1 {
  position: absolute;
  width: 377.0px;
  height: 358.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Image_1 {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 {
  position: absolute;
  width: 377.0000000000001px;
  min-height: 139.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.5pt;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.5pt;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph {
  box-shadow: none;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-db32455c-1c43-479e-ae0b-14acf9cf0748 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
